@import "../baseIndex.scss";
@import "../variableIndex.scss";
.footerPages {
  padding: 10px;
  background-color: $primary-900;
  .footerBody {
    padding: 10px 40px;
    .row {
      .p-2 {
        .textLogo {
          @include mText($text-2xl, $fw-semi, $text-color);
          display: inline-block;
          position: relative;
          transition: all 0.3s;
          text-shadow: 5px -2px 3px #54d2c0;
          &:hover {
            transition: all 0.5s;
            -webkit-transform: scale(1.05);
            transform: scale(1.05);
          }
          .textE {
            font-size: 40px;
            color: $primary-300;
          }
          .iconLogo {
            right: 5px;
            top: 15px;
            position: absolute;
          }
        }
        .menuFooter {
          li {
            padding: 5px 0;
            transition: all 0.5s;
            font-weight: $fw-semi;
            font-size: $text-base;
            &:hover {
              -webkit-transform: translateY(-2px);
              transform: translateY(-2px);
              color: #01877e;
              cursor: pointer;
            }
            i {
              font-size: $text-small;
            }
            .iconFooter {
              display: inline-block;
              margin: 0 10px;
              width: 40px;
              height: 40px;
              color: #fff;
              background: $primary-300;
              border-radius: 50%;
              line-height: 40px;
              text-align: center;
              transition: all 0.5s;
            }
          }
        }
        .textFooterTitle {
          @include mText($text-2xl, $fw-semi, $text-base);
        }
        form {
          .formFooter {
            margin: 3px 0;
            outline: none;
            border: none;
            width: 300px;
            max-width: 100%;
            height: 40px;
            border: 2px solid $primary-300;
            border-radius: 8px;
            padding-left: 10px;
            background-color: #f5f5f5;
            &:focus {
              -webkit-transform: translateX(-2px);
              transform: translateX(-2px);
              border-radius: 5px;
            }
          }
        }
        .btnGlobal {
          @include mButton(
            $text-base,
            $fw-semi,
            $text-color-light,
            5px 10px,
            1px solid $primary-200,
            $primary-200,
            $primary-200,
            $text-color-light
          );
        }
      }
    }
  }
  .extraFooter {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    border-top: 1px solid #d0d0d0;
    .textCardTitle {
      p {
      }
    }
    .divGlobal {
      .iconSize {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        transition: all 0.3s linear;
        &:hover {
          box-shadow: 1px 2px 2px 1px #636363;
        }
      }
      .iconFooter {
        display: inline-block;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        color: #fff;
        background: $primary-300;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        transition: all 0.5s;
      }
    }
  }
}
