@import "../baseIndex";
@import "../variableIndex";
.homePage {
  background-size: cover;
  background-repeat: no-repeat;
  .banner {
    // position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .containerr {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: radial-gradient(#9cdcff, #1cafff);
      #scene {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        #text {
          display: flex !important;
          position: relative;
          color: $text-color-light;
          font-size: 14vw;
          z-index: 1001;
          span {
            position: relative !important;
            display: inline-block;
            text-shadow: 1px 1px 0 #e1e1e1, 2px 2px 0 #e1e1e1, 3px 3px 0 #e1e1e1,
              4px 4px 0 #e1e1e1, 5px 5px 0 #e1e1e1, 6px 6px 0 #e1e1e1,
              7px 7px 0 #e1e1e1, 8px 8px 0 #e1e1e1,
              25px 35px 0 rgba(0, 0, 0, 0.1);
          }
        }
        .layerr {
          position: absolute;
          top: 20% !important; // Đặt phần tử ở giữa theo chiều dọc
          left: 40% !important;
          width: 512px;
          height: 512px;
          // z-index: 1002;
          @media (max-width: 1024px) {
            width: 256px;
            height: 256px;
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .test-layout {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fc4a55;
      transition: 0.5s;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
      }
    }
    .contentTest {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .textBox {
        position: relative;
        max-width: 600px;
        h2 {
          color: $text-color-light;
          font-size: 4em;
          line-height: 1.2em;
          font-weight: 700;
        }
        p {
          color: $text-color-light;
          margin-top: 20px;
        }
        a {
          display: inline-block;
          margin-top: 20px;
          padding: 8px 20px;
          background: $primary-100;
          color: #333;
          border-radius: 40px;
          font-weight: 500;
          letter-spacing: 1px;
          text-decoration: none;
        }
      }
      .imgBox {
        position: relative;
        z-index: 1;
        width: 600px;
        display: flex;
        justify-content: end;
        img {
          max-width: 400px;
        }
      }
    }
    .thumb {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      display: flex;
      li {
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
        transition: 0.5s;
        height: 70px;
        background: rgba(255, 255, 255, 0.1);
        padding: 5px;
        border: 2px solid rgba(255, 255, 255, 0.25);

        overflow: hidden;
        &::before {
          content: attr(data-text);
          position: absolute;
          top: -200px;
          left: -100px;
          white-space: nowrap;
          font-size: 8em;
          color: rgba(0, 0, 0, 0.05);
          opacity: 0;
          font-weight: $fw-semi;
          pointer-events: none;
        }
        img {
          max-width: 60px;
        }
      }
      li.active {
        border: 2px solid rgba(255, 255, 255, 1);
        &::before {
          opacity: 1;
        }
      }
    }
    @media (max-width: 992px) {
      padding: 20px;
      padding-bottom: 120px;
      .bg::before {
        display: none;
      }
      header {
        padding: 20px;
        padding-bottom: 120px;
      }
      .contentTest {
        margin-top: 100px;
        flex-direction: column;
        .textBox {
          max-width: 100%;
          h2 {
            font-size: 2.5em;
            margin-bottom: 15px;
          }
        }
        .imgBox {
          max-width: 100%;
          justify-content: center;
          img {
            max-width: 300px;
          }
        }
      }
      .thumb {
        li {
          margin: 0 3px;
          height: 55px;
          &::before {
            position: absolute;
            top: -150px;
            left: 0;
            font-size: 6em;
          }
          img {
            max-width: 40px;
          }
        }
      }
    }
  }
  .saleCourse {
    padding: 100px 0;
    // background: #13525c;
    background-color: $primary-100;
    width: 100%;
    min-height: 100vh;
    h1 {
      text-align: center;
      font-size: $text-4xl;
      background: linear-gradient(to right, #f34a8b, #f9e722, #4ba6f0, #ea6cdf);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      text-transform: uppercase;
    }
    .container {
      .row {
        .cardGlobalRes {
          display: flex;
          justify-content: center;
          align-items: center;
          .card {
            width: 100%;
            background: #fff;
            &:hover .imgBx {
              img {
                transform: scale(1.5);
              }
              ul {
                li {
                  transform: translateX(0px);
                }
              }
            }
            .imgBx {
              position: relative;
              width: 100%;
              height: 310px;
              overflow: hidden;
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 300px;
                object-fit: cover;
                transition: 0.5s ease-in-out;
                transform-origin: right;
              }
              ul {
                position: absolute;
                top: 10px;
                right: 10px;
                li {
                  position: relative;
                  list-style: none;
                  width: 40px;
                  height: 40px;
                  background-color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 4px;
                  cursor: pointer;
                  transform: translateX(60px);
                  transition: transform 0.5s;
                  a {
                    text-decoration: none;
                    color: $text-color;
                  }
                  &:nth-child(2) {
                    transition-delay: 0.15s;
                  }
                  &:nth-child(3) {
                    transition-delay: 0.3s;
                  }
                  &:hover {
                    background: red;
                    color: $text-color-light;
                    a {
                      color: $text-color-light;
                    }
                    span {
                      opacity: 1;
                      transform: translateY(-50%) translateX(0);
                    }
                  }
                  span {
                    position: absolute;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%) translateX(-20px);
                    white-space: nowrap;
                    padding: 4px 6px;
                    background: $primary-100;
                    color: #333;
                    font-weight: 500;
                    font-size: 12px;
                    border-radius: 4px;
                    pointer-events: none;
                    opacity: 0;
                    transition: 0.5s;
                    &::before {
                      content: "";
                      position: absolute;
                      top: 50%;
                      right: -4px;
                      width: 8px;
                      height: 8px;
                      background: $primary-100;
                      transform: translateY(-50%) rotate(45deg);
                    }
                  }
                }
              }
            }
            .content {
              padding: 10px;
              .productName {
                h3 {
                  font-size: 18px;
                  font-weight: 500;
                  color: #111;
                  margin: 5px 0;
                }
              }
              .price_rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h2 {
                  font-size: $text-2xl;
                  color: red;
                  font-weight: 500;
                }
                i {
                  color: $primary-200;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  // .row {
  //   .col-lg-6 {
  //   }
  //   .sloganBox {
  //     display: flex;
  //     position: relative;
  //     z-index: 10;
  //     justify-content: center;
  //     align-items: center;
  //     .triangleTopRight {
  //       -webkit-transform: rotate(-45deg);
  //       transform: rotate(-45deg);
  //       position: absolute;
  //       top: 5%;
  //       left: 10%;
  //       width: 0;
  //       height: 0;
  //       border-left: 20px solid transparent;
  //       border-right: 20px solid transparent;
  //       border-bottom: 50px solid $primary-200;
  //     }
  //     .smallBox {
  //       position: absolute;
  //       z-index: 1;
  //       height: 10%;
  //       width: 10%;
  //       background-image: radial-gradient($primary-300 10%, transparent 11%),
  //         radial-gradient($primary-300 10%, transparent 11%);
  //       background-size: 10px 10px;
  //     }
  //     .smallboxLeftTop {
  //       top: 10%;
  //       left: 10%;
  //       height: 70px;
  //       width: 20%;
  //     }
  //     .smallboxRightTop {
  //       top: 0;
  //       right: 0;
  //       -webkit-transform: rotate(45deg);
  //       transform: rotate(45deg);
  //       background-image: radial-gradient($primary-200 10%, transparent 11%);
  //     }
  //     .smallboxRightBottom {
  //       bottom: 10%;
  //       left: 70%;
  //       height: 10%;
  //       width: 10%;
  //       background-image: radial-gradient(
  //         var(--colorTPrimary) 10%,
  //         transparent 11%
  //       );
  //     }

  //     .smallboxRightBottom {
  //       bottom: 10%;
  //       left: 70%;
  //       height: 10%;
  //       width: 10%;
  //       background-image: radial-gradient($primary-500 10%, transparent 11%);
  //     }
  //     .doubleBox {
  //       left: 74%;
  //     }
  //     .sloganContainer {
  //       img {
  //         vertical-align: middle;
  //         border-style: none;
  //       }
  //       .sliderPlaneImg {
  //         position: absolute;
  //         object-fit: cover;
  //         right: 20%;
  //         top: 20%;
  //         width: 20%;
  //         height: 20%;
  //       }
  //       h1 {
  //         position: relative;
  //         z-index: 10px;
  //         font-weight: 600;
  //         font-size: 50px;
  //       }
  //       h1:nth-of-type(3) {
  //         font-size: 65px;
  //         color: $primary-300;
  //         overflow: hidden;
  //         -webkit-animation: aniText 5s steps(10) infinite;
  //         animation: aniText 5s steps(10) infinite;
  //         span {
  //           margin-left: 5px;
  //           font-size: 50px;
  //         }
  //       }
  //       .btnSlider {
  //         @include mButton(
  //           $text-base,
  //           $fw-semi,
  //           $text-color-light,
  //           10px,
  //           1px solid $primary-200,
  //           $primary-200,
  //           $primary-200,
  //           $text-color-light
  //         );
  //       }
  //     }
  //   }
  //   .sloganRight {
  //     .sliderRight {
  //       position: relative;
  //       width: 100%;
  //       padding-right: 15px;
  //       padding-left: 15px;
  //       img {
  //         vertical-align: middle;
  //         border-style: none;
  //       }
  //       .sliderMainImg {
  //         width: 100%;
  //       }
  //       .sliderSubImg {
  //         position: absolute;
  //         width: 15%;
  //         height: 15%;
  //       }
  //       .sliderCodeImg {
  //         left: 20%;
  //         top: 50%;
  //         -webkit-animation: aniSider 4s infinite;
  //         animation: aniSider 4s infinite;
  //       }
  //       .sliderMesImg {
  //         top: 42%;
  //         right: 45%;
  //         -webkit-transform-origin: bottom;
  //         transform-origin: bottom;
  //         -webkit-animation: aniMessage 4s linear 3s infinite;
  //         animation: aniMessage 4s linear 3s infinite;
  //       }
  //       .sliderCloudImg {
  //         top: 0;
  //         left: 0;
  //         -webkit-animation: aniCloud 5s linear infinite;
  //         animation: aniCloud 5s linear infinite;
  //       }
  //       .sliderCloud2Img {
  //         top: 30%;
  //         left: 20%;
  //         -webkit-animation: aniCloud 7s linear 2s infinite;
  //         animation: aniCloud 7s linear 2s infinite;
  //       }
  //       .sliderCloud3Img {
  //         top: 15%;
  //         left: 25%;
  //         -webkit-animation: aniCloud 5s linear 2s infinite;
  //         animation: aniCloud 5s linear 2s infinite;
  //       }
  //     }
  //   }
  // }
  // .infoCoureBox {
  //   padding: 50px 0;
  //   @media screen and (max-width: 1020px) {
  //     .infoCourseHome {
  //       grid-template-columns: none !important;
  //     }
  //   }
  //   .infoCourseHome {
  //     display: grid;
  //     grid-template-columns: repeat(3, 1fr);
  //     color: $primary-100;
  //     grid-gap: 20px;
  //     gap: 20px;

  //     .infoItemHome {
  //       position: relative;
  //       overflow: hidden;
  //       padding: 20px;
  //       &:hover .infoItemContent::before {
  //         -webkit-animation: shine 1s;
  //         animation: shine 1s;
  //       }
  //       .infoItemContent {
  //         &::before {
  //           content: "";
  //           position: absolute;
  //           display: block;
  //           top: 0;
  //           left: -160%;
  //           width: 50%;
  //           height: 100%;
  //           z-index: 2;
  //           background: linear-gradient(
  //             90deg,
  //             hsla(0, 0%, 100%, 0) 0,
  //             hsla(0, 0%, 100%, 0.3)
  //           );
  //           -webkit-transform: skewX(-17deg);
  //           transform: skewX(-17deg);
  //         }
  //         h3 {
  //           text-transform: uppercase;
  //           @include mText($text-3xl, $fw-normal, $text-color-light);
  //         }
  //         p {
  //           @include mText($text-base, $fw-normal, $text-color-light);
  //         }
  //         ul {
  //           margin: 0;
  //           padding: 0;
  //           li {
  //             padding: 5px;
  //             @include mText($text-base, $fw-normal, $text-color-light);
  //             i {
  //               padding-right: 10px;
  //             }
  //           }
  //         }
  //       }
  //     }
  //     .infoLargeItem {
  //       grid-row: 1 / span 2;
  //       background-color: $primary-300;
  //       background-image: url(/img/astronaut.3c90d598.png);
  //       background-position: 100% 100%;
  //       background-size: 50%;
  //       background-repeat: no-repeat;
  //     }
  //     .infoSmallItemA {
  //       background-color: $primary-200;
  //     }
  //     .infoSmallItemB {
  //       background-color: #5c8295;
  //     }
  //     .infoSmallItemA {
  //       background-color: $primary-200;
  //     }
  //     .infoSmallItemC {
  //       background-color: #63c0a8;
  //     }
  //   }
  // }
  .coursesHome {
    h6 {
      color: $primary-200;
    }
  }
  .learnMore {
    padding: 0 50px;
    background-color: #f2ecec4d;
    background-color: #eff8ff;
    .row {
      align-items: center;
      .sloganRighT {
        .sliderRight {
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          img {
            vertical-align: middle;
            border-style: none;
          }
          .sliderMainImg {
            width: 100%;
          }
          .sliderSubImg {
            position: absolute;
            width: 15%;
            height: 15%;
          }
          .sliderCodeImg {
            left: 20%;
            top: 50%;
            -webkit-animation: aniSider 4s infinite;
            animation: aniSider 4s infinite;
          }
          .sliderMesImg {
            top: 42%;
            right: 45%;
            -webkit-transform-origin: bottom;
            transform-origin: bottom;
            -webkit-animation: aniMessage 4s linear 3s infinite;
            animation: aniMessage 4s linear 3s infinite;
          }
          .sliderCloudImg {
            top: 0;
            left: 0;
            -webkit-animation: aniCloud 5s linear infinite;
            animation: aniCloud 5s linear infinite;
          }
          .sliderCloud2Img {
            top: 30%;
            left: 20%;
            -webkit-animation: aniCloud 7s linear 2s infinite;
            animation: aniCloud 7s linear 2s infinite;
          }
          .sliderCloud3Img {
            top: 15%;
            left: 25%;
            -webkit-animation: aniCloud 5s linear 2s infinite;
            animation: aniCloud 5s linear 2s infinite;
          }
        }
      }
      .viewLearn {
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        // justify-content: center;
        .titleLearn {
          h2 {
            color: #062c4b;
          }
          p {
            color: $text-color-card;
          }
        }
        .groupText {
          .group-item {
            display: flex;
            // align-items: center;
            @extend .mb-2;
            .inner-icon {
              display: table;
              text-align: center;
              width: 70px;
              height: 100%;
              table-layout: fixed;
              @extend .me-2;
              .icon-item {
                line-height: 50px;
                width: 70px;
                height: 60px;
                padding: 0;
                border-radius: 100%;
                border: 1px solid;
                position: relative;
                color: #00bce4;
                display: table-cell;
                vertical-align: middle;
                transition: background 0.2s, color 0.2s;
                &::before {
                  content: "";
                  position: absolute;
                  left: 3px;
                  right: 3px;
                  top: 3px;
                  bottom: 3px;
                  background-color: #00bce4;
                  border-radius: 100%;
                  transform: scale(0);
                  transition: all 0.2s ease-in-out 0s;
                }
                &::after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  width: 1px;
                  margin-top: 7px;
                  height: 42px;
                  border-left-style: dotted;
                  border-left-width: 2px;
                }
                &:hover {
                  &::before {
                    transform: scale(1);
                  }
                  i {
                    color: $text-color-light;
                  }
                }
                i {
                  font-size: 24px;
                  line-height: 24px;
                  vertical-align: middle;
                  position: relative;
                  transition: all 0.2s ease-in-out 0s;
                }
              }
            }
            &:nth-of-type(3) {
              .inner-icon {
                .icon-item::after {
                  content: none;
                }
              }
            }
            .text-item {
              @extend .px-2;
              h3 {
              }
              p {
                color: $text-color-card;
              }
            }
          }
        }
      }
    }
  }
  .coursePage {
    .cardGlobalRes {
      display: flex;
      justify-content: center;
      .cardGlobal {
        position: relative;
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
        width: 280px;
        min-width: 280px;
        min-height: 370px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
        &:hover a {
          //   color: $text-color;
          //   text-decoration: none;
        }
        &:hover .subCard {
          visibility: visible;
          opacity: 1;
        }
        img {
          //   height: auto;
          width: 100%;
          height: 250px;
        }
        .stikerCard {
          display: inline-block;
          position: absolute;
          z-index: 10;
          top: 55%;
          padding: 0 10px;
          color: $primary-100;
          background-color: $primary-300;
        }
        .cardBodyGlobal {
          flex: 1 1 auto;
          min-height: 1px;
          padding: 20px;
          margin-top: 10px;
          h6 {
            padding: 0 0 10px;
            font-size: 16px;
            color: $text-color;
          }
          .cardIcon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              color: $text-color-card;
              i {
                margin-right: 8px;
              }
              .iconOclock {
                color: $primary-200;
              }
              .iconCalendar {
                color: $primary-500;
              }
              .iconLevel {
                color: #65c9ff;
              }
            }
          }
        }
        .cardFooter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 20px;
          border-top: 1px solid rgba(0, 0, 0, 0.125);
          .titleMaker {
            display: flex;
            align-items: center;
            .imgCardFooter {
              height: 40px;
              width: 40px;
              padding: 2px;
              border-color: $primary-200 transparent;
              border-left: 1px solid transparent;
              border-bottom: 1px solid $primary-200;
              border-right: 1px solid transparent;
              border-top: 1px solid $primary-200;
              border-radius: 50%;
              img {
                width: 100%;
                height: auto;
              }
            }
            .colorCardTitle {
              color: $text-color-card;
            }
          }
          p {
            margin-bottom: 0;
            sup {
              top: -0.5em;
            }

            sub,
            sup {
              position: relative;
              font-size: 75%;
              line-height: 0;
              vertical-align: baseline;
            }
          }
          p:first-of-type {
            -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
            @include mText($text-small, $fw-normal, $text-color-card);
          }
          p:nth-of-type(2) {
            font-weight: 500;
            color: $primary-300;
            .iconTag {
              font-size: 18px;
              color: red;
              margin-left: 4px;
            }
          }
        }
        .cardSale {
          position: absolute;
          top: 5px;
          left: -5px;
          width: 90px;
          height: 30px;
          padding: 5px 8px 4px;
          color: $primary-100;
          background-color: red;
          font-weight: 600;
          font-size: 13px;
          text-transform: uppercase;
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: -12px;
            border-color: red transparent;
            border-style: solid;
            border-width: 15px 12px 15px 0;
          }
          &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            bottom: -10px;
            border-bottom: 10px solid transparent;
            border-right: 5px solid red;
            -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
          }
        }
        .subCard {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          z-index: 99;
          top: 0;
          right: -100%;
          padding: 20px;
          display: flex;
          flex-direction: column;
          transition: all 0.5s;
          width: 350px;
          min-width: 280px;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid rgba(0, 0, 0, 0.125);
          box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
          @media (max-width: 1024px) {
            display: none;
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -15px;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid $primary-100;
          }
          .subCardHead,
          h6,
          p,
          .cardIcon {
            padding: 10px 0;
            margin-bottom: 0;
          }
          .subCardHead {
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
            .colorCardTitle {
              color: $text-color-card;
            }
          }
          h6 {
            color: $text-color;
          }
          .colorCardTitle {
            color: $text-color-card;
          }
          .cardIcon,
          .coursesBotHome {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              color: $text-color-card;
              i {
                margin-right: 8px;
              }
              .iconOclock {
                color: #f5c002;
              }
              .iconCalendar {
                color: #f06f68;
              }
              .iconLevel {
                color: #65c9ff;
              }
            }
          }
          .btnGlobal {
            @include mButton(
              $text-base,
              $fw-semi,
              $text-color,
              15px,
              1px solid $primary-300,
              $primary-300,
              $primary-300,
              $text-color-light
            );
            text-align: center;
          }
        }
      }
      .viewDetail {
        color: $text-color-card;
        text-align: end;
        display: none;
        transition: all 0.5s;
        @extend .pe-1;
        @extend .mb-1;
        @media (max-width: 1024px) {
          display: block;
        }
        &:hover {
          color: $primary-200;
          text-decoration: underline !important;
        }
        i {
          @extend .ms-1;
        }
      }
    }
  }
  .boxNumberContainer {
    position: relative;
    padding: 0 50px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url(/img/bg_coundow_course-5.jpg);
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(45, 45, 45, 0.5);
    }
    .row {
      .boxNumber {
        width: 100%;
        text-align: center;
        position: relative;
        .imgIcon {
          width: 80px;
          height: 80px;
        }
        .textNumber {
          font-family: fontNumber;
          @include mText($text-5xl, $fw-semi, $primary-100);
        }
        .textNumberTitle {
          @include mText($text-base, $fw-semi, $text-color-light);
        }
      }
    }
  }
  .instrutorContainer {
    h6 {
      a {
        @include mText($text-base, $fw-semi, $text-color);
      }
    }
    .instrutorItem {
      padding: 10px;
      overflow: hidden;
      .row {
        flex-wrap: nowrap;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition: 0.8s ease-out;
        .col-lg-2 {
          // white-space: nowrap;
          // width: 100%;
          // padding: 45px;
          // &:hover {
          //   box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.13);
          // }
          animation: animate 10s linear infinite;
          .instrutorContent {
            display: flex;
            height: 100%;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 15px;
            border-radius: 5px;
            border: none;
            transition: all 0.5s;
            &:hover {
              box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.13);
            }
            img {
              height: 80px;
              width: 80px;
              object-fit: cover;
              border-radius: 50%;
            }
            h6 {
              font-weight: $fw-semi;
              padding-bottom: 5px;
            }
            .textReviewRole {
              padding: 3px 0;
            }
            .reviewMentor {
              color: $primary-200;
              i {
              }
            }
            .textReviewBot {
              @include mText($text-small, $fw-normal, $text-color-card);
            }
          }
        }
      }
    }
  }
  .review {
    padding: 20px 50px;
    position: relative;
    .reviewStudent {
      position: relative;
      padding: 50px 0;
      .triangleTopRight {
        top: 0;
        left: 0;
      }
      .triangleTopRight {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 5%;
        left: 10%;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 50px solid var(--colorSPrimary);
      }
      .smallBox {
        position: absolute;
        z-index: 1;
        height: 10%;
        width: 10%;
        background-image: radial-gradient($primary-300 10%, transparent 11%),
          radial-gradient($primary-300 10%, transparent 11%);
        background-size: 10px 10px;
      }
      .smallboxLeftTop {
        top: 0;
        left: 0;
        height: 70px;
        width: 10%;
      }
      .smallboxRightBottom {
        bottom: 0;
        right: 10%;
        height: 50px;
        background-image: radial-gradient($primary-200 10%, transparent 11%);
      }
      .smallboxRightTop,
      .smallboxLeftBottom {
        width: 80px;
        background-image: radial-gradient($primary-300 10%, transparent 11%);
      }
      .smallboxRightTop {
        top: 0;
        right: 40%;
        height: 50px;
      }
      .smallboxLeftBottom {
        border-radius: 50%;
        bottom: 0;
        left: 30%;
        height: 80px;
      }
      .row {
        .col-md-6 {
          .reviewImg {
            display: flex;
            position: relative;
            justify-content: center;
            height: 100%;
            align-items: center;
            .bgStudentReview {
              top: -10%;
              z-index: 1;
              height: 220px;
              width: 230px;
              position: absolute;
              background-color: $primary-500;
              border-radius: 10px 100px 110px;
            }
            img {
              width: 200px;
              height: 200px;
              position: relative;
              z-index: 10;
              vertical-align: middle;
              border-style: none;
            }
          }
        }
        .quoteRight {
          padding: 10px;
          .textQoute {
            position: relative;
            line-height: 30px;
            font-size: 17px;
            q {
              &::before {
                position: absolute;
                top: 0;
                left: -6%;
                font-size: 50px;
                font-family: fantasy;
                color: $primary-500;
              }
              &::after {
              }
            }
          }
          p {
            @include mText($text-base, $fw-normal, $primary-500);
          }
          span {
            @include mText($text-base, $fw-normal, $text-color-card);
          }
        }
      }
    }
  }
}
@keyframes aniText {
  0% {
    width: 0;
  }
  50% {
    width: 230px;
  }
}
@keyframes aniCloud {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
/* Animation message slider */
@keyframes aniMessage {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Animation shine */
@keyframes shine {
  100% {
    left: 170%;
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
