@import "../baseIndex";
@import "../variableIndex";
.detailCoures {
  .titleCourse {
    padding: 50px;
    text-transform: uppercase;
    background-color: #007cce;
    color: $primary-100;
    h3 {
    }
    p {
    }
  }
  .detailCouresContent {
    padding: 50px;
    .row {
      .col-lg-8 {
        .titleDetailCourse {
        }
        .headDetailCourse {
          padding: 30px 0;
          .col-lg-4 {
            .detailCourseIntro {
              display: flex;
              padding: 5px;
              align-items: center;
              img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
              }
              .instrutorTitle {
                padding: 0 5px;
                p {
                  margin-bottom: 0;
                }
                p:first-of-type {
                  @include mText($text-small, $fw-normal, $text-color-card);
                }
              }
              i {
                font-size: 35px;
                color: $primary-300;
              }
              .reviewDetail {
                text-align: right;
                span {
                  i {
                    color: $primary-200;
                    font-size: 20px;
                  }
                }
                p {
                  @include mText($text-small, $fw-normal, $text-color-card);
                }
              }
            }
          }
        }
        .textDiscripts {
          color: $text-color-card;
          padding-bottom: 20px;
          border-bottom: 1px solid $primary-400;
          text-align: justify;
        }
        .boxCourseLearn {
          padding: 20px 0;
          h6 {
            padding: 10px 0;
            @include mText($text-2xl, $fw-semi, $text-color);
          }
          .row {
            .col-6 {
              ul {
                li {
                  padding: 5px 0;
                  text-align: justify;
                  i {
                    margin-right: 5px;
                    color: $primary-200;
                  }
                  p {
                    display: inline;
                  }
                }
              }
            }
          }
        }
        .courseContent {
          h6 {
            @include mText($text-2xl, $fw-semi, $text-color);
            padding-bottom: 20px;
          }
          .courseDetailItem {
            .courseDetailContent {
              padding: 20px 0;
              .sectionCourse {
                display: flex;
                align-items: center;
                padding: 10px;
                margin-bottom: 20px;
                background-color: hsla(0, 0%, 86.3%, 0.1411764705882353);
                span {
                  text-transform: uppercase;
                  @include mText($text-2xl, $fw-normal, $text-color);
                  margin-right: 20px;
                }
                .btnPreview {
                  @include mButton(
                    $text-base,
                    $fw-semi,
                    $primary-300,
                    10px,
                    1px solid $primary-300,
                    $primary-100,
                    $primary-300,
                    $text-color-light
                  );
                }
              }
              p {
                padding-left: 10px;
              }
              .lessonContainer {
                .lessonContent {
                  display: flex;
                  padding: 10px;
                  justify-content: space-between;
                  align-items: center;
                  box-shadow: 1px 1px 2px 1px rgba(239, 244, 190, 0.27);
                  span {
                    color: $text-color-card;
                    i {
                      color: $primary-300;
                      margin-right: 10px;
                    }
                    &:nth-child(2) {
                      width: 70px;
                    }
                    @media (max-width: 992px) {
                      max-width: 290px;
                    }
                    @media (max-width: 499px) {
                      max-width: 200px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .col-lg-4 {
        .sideBarCourseDetail {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 15px;
          padding: 10px 30px;
          box-shadow: 1px 1px 10px 4px #dadada;
          .img-product {
            text-align: center;
            img {
              width: 100%;
              vertical-align: middle;
              border-style: none;
            }
          }

          .coursePrice {
            padding: 30px 0;
            text-align: left;
            p {
              @include mText($text-2xl, $fw-semi, $text-color);
              i {
                margin-right: 10px;
                color: $primary-200;
              }
            }
            .originalPrice {
              display: flex;
              align-items: center;
              justify-content: space-between;
              p {
                margin: 0;
                .discountedPrice {
                  @include mText($text-2xl, $fw-normal, $text-color-card);
                  text-decoration: line-through;
                  @extend .me-1;
                }
                .discountPercentage {
                  padding: 3px 5px;
                  border-radius: 3px;
                  background: #ffebeb;
                  color: #f06f68;
                }
              }
              .countdownTimer {
                @include mText($text-small, $fw-normal, $text-color-card);
              }
            }
          }
          .btnPreview {
            @include mButton(
              $text-base,
              $fw-semi,
              $primary-300,
              10px,
              1px solid $primary-300,
              $primary-100,
              $primary-300,
              $text-color-light
            );
            text-transform: uppercase;
          }
          .sideBarDetailContent {
            ul {
              li {
                display: flex;
                align-items: center;
                padding: 20px 0;
                justify-content: space-between;
                border-bottom: 1px solid #f2f1f1;
                p {
                  color: $text-color-card;
                  span {
                    @include mText($text-base, $fw-semi, $text-color);
                  }
                }
                i {
                  font-size: 20px;
                  color: $primary-200;
                }
              }
            }
            .formCoupon {
              padding: 20px 0;
              input {
                width: 100%;
                outline: none;
                padding: 3px 10px;
                border: 1px solid #d0d0d0;
              }
            }
          }
        }
      }
    }
  }
  .coursesRelated {
    padding: 20px 50px;

    // background: linear-gradient(45deg, #00bcd4, #ffeb3b);
    h6 {
    }
    .card-item {
      display: flex;
      justify-content: center;
      align-items: center;
      // min-height: 100vh;
      .cardGlobalRes {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px 50px;
        padding: 100px 50px;
        .cardGlobal {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          width: 350px;
          height: 300px;
          background-color: $primary-100;
          border-radius: 20px;
          box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
          transition: 0.5s;
          &:hover {
            height: 400px;
          }
          &:hover .imgBx {
            top: -100px;
            scale: 0.75;
            box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
          }
          &:hover .content {
            height: 250px;
            top: 150px;
          }
          .imgBx {
            position: absolute;
            width: 300px;
            height: 220px;
            top: 20px;
            border-radius: 12px;
            overflow: hidden;
            transition: 0.5s;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .content {
            position: absolute;
            top: 252px;
            width: 100%;
            padding: 0 30px;
            height: 35px;
            overflow: hidden;
            text-align: center;
            transition: 0.5s;
            h2 {
              font-size: 1.5em;
              font-weight: 700;
              color: $primary-300;
            }
            p {
              color: $text-color;
            }
            a {
              position: relative;
              top: 15px;
              display: inline-block;
              // padding: 12px 25px;
              // background: #ffeb3b;
              // font-weight: 500;
              // text-decoration: none;
              border-radius: 8px;
              @include mButton(
                $text-base,
                $fw-semi,
                $primary-300,
                12px 25px,
                1px solid $primary-300,
                $primary-100,
                $primary-300,
                $text-color-light
              );
            }
          }
        }
        .viewDetail {
          color: $text-color-card;
          text-align: end;
          display: none;
          transition: all 0.5s;
          @extend .pe-1;
          @extend .mb-1;
          @media (max-width: 1024px) {
            display: block;
          }
          &:hover {
            color: $primary-200;
            text-decoration: underline !important;
          }
          i {
            @extend .ms-1;
          }
        }
      }
    }
  }
}
