@import "../_baseIndex.scss";
@import "../variableIndex.scss";
.adminTemplate {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  background: linear-gradient(90deg, $primary-300, $primary-100, $primary-500);
  .menuAdmin {
    display: flex;
    justify-content: center;
    height: 100%;
    #sidebar {
      max-width: 80px;
      max-height: 90vh;
      background: rgba(000, 000, 000, 0.3);
      backdrop-filter: blur(30px);
      color: #fff;
      transition: all 0.3s;
      border-radius: 10px 10px;
      padding: 5px 10px;
      min-height: 90vh;
      text-align: center;
      .sidebar-header {
        &:hover #sidebarCollapse {
          color: $primary-300;
          background: $bg-primary-100;
          border-radius: 10px;
        }
      }
      .list-unstyled {
        li {
          a {
            padding: 30px 0;
            font-size: 1em;
            display: block;
            transition: all 0.5s;
            color: $text-color;
            &:hover {
              color: $primary-300;
              background: #fff;
              border-radius: 10px;
            }
            i {
              display: block;
              font-size: 1.3em;
              margin-bottom: 5px;
              padding: 5px;
            }
          }
        }
      }
    }
    .adminManage {
      width: 90%;
      max-height: 90vh;
      background: $bg-primary-100;
      border-radius: 10px;
      @extend .ms-1;
      .userTemplate {
        max-height: 90vh;
        .ant-layout {
          max-height: 100%;
          border-radius: 10px;
          .ant-layout-header {
            border-radius: 10px;
            padding: 0 20px !important;
            background-color: $primary-100;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btnGlobal {
            }
            .searchAdmin {
            }
            .iconProfile {
              display: flex;
              align-items: center;
              justify-content: space-around;
              p {
                margin: 0;
                span {
                  @include mText($text-base, $fw-semi, $text-color);
                }
              }
              img {
                @extend .mx-1;
                width: 40px;
                height: auto;
              }
            }
          }
          .ant-table-wrapper {
            height: auto;
          }
        }
      }
    }
  }
}
