@import "../baseIndex";
@import "../variableIndex";
.coursesPage {
  .titleCourse {
    padding: 50px;
    text-transform: uppercase;
    background-color: #007cce;
    color: $text-color-light;
    h3 {
    }
    p {
      @include mText($text-small, $fw-normal, $text-color-light);
    }
  }
  .coursesContainer {
    padding: 50px;
    .row {
      .coursesBoxItem {
        padding: 0;
        .coursesBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          color: $primary-100;
          text-transform: uppercase;
          height: 100%;
          padding: 30px 20px;
          text-align: center;
          h6,
          i {
            padding-bottom: 10px;
          }
          i {
            font-size: $text-3xl;
          }
          p {
            font-size: $text-2xl;
          }
        }
        .bgStyle1 {
          background: #264653;
        }
        .bgStyle2 {
          background: #2a9d8f;
        }
        .bgStyle3 {
          background: #e9c46a;
        }
        .bgStyle4 {
          background: #f4a261;
        }
        .bgStyle5 {
          background: #ee8959;
        }
        .bgStyle6 {
          background: #e76f51;
        }
      }
    }
  }
  .courseListPage {
    padding: 50px;
    h6 {
      @include mText($text-2xl, $fw-semi, $text-color);
      i {
        @include mText($text-2xl, $fw-semi, $primary-500);
        margin-right: 5px;
      }
    }
    .row {
      .cardGlobalRes {
        display: flex;
        justify-content: center;
        .cardGlobal {
          position: relative;
          display: flex;
          flex-direction: column;
          transition: all 0.5s;
          width: 280px;
          min-width: 280px;
          min-height: 370px;
          word-wrap: break-word;
          background-color: #fff;
          background-clip: border-box;
          border: 1px solid rgba(0, 0, 0, 0.125);
          box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
          overflow: hidden;
          &:hover a {
            //   color: $text-color;
            //   text-decoration: none;
          }
          &:hover .imgBx {
            img {
              transform: scale(1.5);
            }
            ul {
              li {
                transform: translateX(0px);
              }
            }
          }

          .imgBx {
            position: relative;
            width: 100%;
            overflow: hidden;
            img {
              //   height: auto;
              width: 100%;
              height: 250px;
              transition: 0.5s ease-in-out;
            }
            ul {
              position: absolute;
              top: 10px;
              right: 10px;
              li {
                position: relative;
                list-style: none;
                width: 40px;
                height: 40px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 4px;
                cursor: pointer;
                transform: translateX(60px);
                transition: transform 0.5s;
                a {
                  text-decoration: none;
                  color: $text-color;
                  cursor: pointer;
                }
                &:nth-child(2) {
                  transition-delay: 0.15s;
                }
                &:nth-child(3) {
                  transition-delay: 0.3s;
                }
                &:hover {
                  background: red;
                  color: $text-color-light;
                  a {
                    color: $text-color-light;
                  }
                  span {
                    opacity: 1;
                    transform: translateY(-50%) translateX(0);
                  }
                }
                span {
                  position: absolute;
                  right: 50px;
                  top: 50%;
                  transform: translateY(-50%) translateX(-20px);
                  white-space: nowrap;
                  padding: 4px 6px;
                  background: $primary-100;
                  color: #333;
                  font-weight: 500;
                  font-size: 12px;
                  border-radius: 4px;
                  pointer-events: none;
                  opacity: 0;
                  transition: 0.5s;
                  &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -4px;
                    width: 8px;
                    height: 8px;
                    background: $primary-100;
                    transform: translateY(-50%) rotate(45deg);
                  }
                }
              }
            }
          }

          .stikerCard {
            display: inline-block;
            position: absolute;
            z-index: 10;
            top: 55%;
            padding: 0 10px;
            color: $primary-100;
            background-color: $primary-300;
          }
          .cardBodyGlobal {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 20px;
            margin-top: 10px;
            h6 {
              padding: 0 0 10px;
              font-size: 16px;
              color: $text-color;
            }
            .cardIcon {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span {
                color: $text-color-card;
                i {
                  margin-right: 8px;
                }
                .iconOclock {
                  color: $primary-200;
                }
                .iconCalendar {
                  color: $primary-500;
                }
                .iconLevel {
                  color: #65c9ff;
                }
              }
            }
          }
          .cardFooter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.125);
            .titleMaker {
              display: flex;
              align-items: center;
              .imgCardFooter {
                height: 40px;
                width: 40px;
                padding: 2px;
                border-color: $primary-200 transparent;
                border-left: 1px solid transparent;
                border-bottom: 1px solid $primary-200;
                border-right: 1px solid transparent;
                border-top: 1px solid $primary-200;
                border-radius: 50%;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              .colorCardTitle {
                color: $text-color-card;
              }
            }
            p {
              margin-bottom: 0;
              sup {
                top: -0.5em;
              }

              sub,
              sup {
                position: relative;
                font-size: 75%;
                line-height: 0;
                vertical-align: baseline;
              }
            }
            p:first-of-type {
              -webkit-text-decoration-line: line-through;
              text-decoration-line: line-through;
              @include mText($text-small, $fw-normal, $text-color-card);
            }
            p:nth-of-type(2) {
              font-weight: 500;
              color: $primary-300;
              .iconTag {
                font-size: 18px;
                color: red;
                margin-left: 4px;
              }
            }
          }
          .cardSale {
            position: absolute;
            top: 5px;
            left: -5px;
            width: 90px;
            height: 30px;
            padding: 5px 8px 4px;
            color: $primary-100;
            background-color: red;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              top: 0;
              right: -12px;
              border-color: red transparent;
              border-style: solid;
              border-width: 15px 12px 15px 0;
            }
            &::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              left: 0;
              bottom: -10px;
              border-bottom: 10px solid transparent;
              border-right: 5px solid red;
              -webkit-filter: brightness(0.8);
              filter: brightness(0.8);
            }
          }
          .viewDetail {
            color: $text-color-card;
            text-align: end;
            display: none;
            transition: all 0.5s;
            @extend .pe-1;
            @extend .mb-1;
            @media (max-width: 1024px) {
              display: block;
            }
            &:hover {
              color: $primary-200;
              text-decoration: underline !important;
            }
            i {
              @extend .ms-1;
            }
          }
        }
      }
    }
  }
  .paginationPages {
    ul {
      display: flex;
      justify-content: center;
      padding-left: 0;
      list-style: none;
      border-radius: 0.25rem;
      margin-bottom: 10px;
      .page-item {
        list-style: none;

        .pageLinkPages {
          position: relative;
          display: block;
          padding: 0.5rem 0.75rem;
          margin-left: 5px;
          line-height: 1.25;
          color: $text-color;
          background-color: $primary-100;
          border: 2px solid $primary-300;
          border-radius: 5px;
          &:hover {
            background-color: $primary-300;
          }
        }
        .active {
          background-color: $primary-300;
        }
      }
    }
  }
}
.disabled {
  pointer-events: none; /* Ngăn không cho nhấp vào */
  opacity: 0.5; /* Làm mờ nút */
}
